.btnSearch {
    color: rgb(0, 0, 0);
    background-color: white;
    border: solid 2px rgb(7, 157, 4);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 4px;
}  

.input {
    font-size: 16px;
}

/* .btnSearch :hover{
    background-color: red;
} */
