.container {
    background-color: rgba(43, 129, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 30px;
}

.container div {
    color: rgb(32, 1, 32);
    display: flex;
}

.container div a {
    margin: 10px;
}

a {
    text-decoration: none;
    font-size:18px;
}


