

.danger{
    color: red;
}

.titulo{
    margin-top: 50px;
}
.container {
    border: solid purple 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    background-color: rgb(153, 248, 216);
    padding: 30px;
    width: 50%;
}

.container input {
    width: 200px;
}

.container div label {
    margin: 10px;
    width: 75px;
    display: inline-block;
    text-align: left;
}

.container div .submit {
    width: 200px;
}

.container div p {
    margin: 0px;
    padding: 0px;
}

.typeDiv{
    margin: 10px;
    display: inline;
}

.botones {
    margin: 20px;
    padding: 10px;
}